<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ConnectCare"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AboutActivity"/>
        <activity android:name=".AddEmergencyRequestActivity"/>
        <activity android:name=".AddEventActivity"/>
        <activity android:name=".DashboardActivity"/>
        <activity android:name=".DonationActivity"/>
        <activity android:name=".EditNGOProfileActivity"/>
        <activity android:name=".EmergencyAidActivity"/>
        <activity android:name=".EventActivity"/>
        <activity android:name=".FindHelpActivity"/>
        <activity android:name=".ImpactTrackerActivity"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".MapActivity"/>
        <activity android:name=".MoreOptionsActivity"/>
        <activity android:name=".NearbyNGOActivity"/>
        <activity android:name=".NGODashboardActivity"/>
        <activity android:name=".NGOListActivity"/>
        <activity android:name=".NgoProfileActivity"/>
        <activity android:name=".NgoRegistrationActivity"/>
        <activity android:name=".NgoVolunteerListActivity"/>
        <activity android:name=".NotificationsActivity"/>
        <activity android:name=".OnboardingActivity"/>
        <activity android:name=".ProfileActivity"/>
        <activity android:name=".RegisterActivity"/>
        <activity android:name=".SettingsActivity"/>
        <activity android:name=".VolunteerActivity"/>
        <activity android:name=".VolunteerDashboardActivity"/>




        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC734BAeuTBk8tAZ-ah1D4-ebn3vxbzWgE"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.gms.wallet.api.enabled" android:value="true" />

    </application>

</manifest>